.single {
  padding: 0 8px;
  width: 80vw;
  margin: 19px auto 0;

  .info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px 20% 77%;
    gap: 24px 28px;
    margin-bottom: 67px;
  }

  h2 {
    text-align: left;
    font-size: 32px;
    grid-row: 1/2;
  }

  .description {
    letter-spacing: 0.015em;
    line-height: 21px;
    text-align: left;

    ul {
      text-align: start;
      margin-top: 4px;
      list-style-type: none;
  
      p {
        font-weight: 600;
      }
  
      span {
        font-weight: 400;
      }
    }
  }

  .img {
    width: 750px;
    height: 100%;
    grid-row: 1/4;
    grid-column: 2/3;
  }
}

.similar {
  padding-bottom: 100px;
  position: relative;

  .container {
    overflow: hidden;
  }

  h3 {
    font-size: 25px;
    text-align: left;
  }

  ul {
    display: flex;
    margin-top: 25px;
    gap: 28px;
    list-style-type: none;
  }

  li {
    cursor: pointer;
  }

  .poster {
    width: 223px;
    height: 329px;
    margin-bottom: 5px;
  }
}

.loader {
  width: 100vw;
  height: 10px;
  top: 70px;
  overflow: hidden;
}

.loader:before {
  content: "";
  position: absolute;
  height: 100%;
  background-color: #d95f55;
  animation: indeterminate_first 1.7s infinite ease-out;
  -webkit-animation: indeterminate_first 1.7s infinite ease-out;
}

@keyframes indeterminate_first {
  0% {
    left: -100%;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 10%;
  }
}
