body {
  margin: 0;
  padding: 0;
  color: #fff;
}
.App {
  text-align: center;
  background-color: #171717;
  min-width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #d95f55;
  text-align: start;

  &__title {
    margin: 0;
    padding: 14px 19px;
    font-weight: 400;
    font-size: 34px;
    letter-spacing: 0.06em;
  }
}

p, h1, h2, h3, ul, li {
  margin: 0;
  padding: 0;
}